<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div *ngIf="pollData" class="container mx-auto p-4 max-w-screen-lg">
    <div class="poll-info mb-6 p-4 border rounded-lg shadow-md bg-white">
        <h2 class="text-2xl font-bold mb-2">Poll Title: {{pollData.title}}</h2>
        <p class="text-lg">Topic: {{pollData.topic.name}} ({{pollData.topic.abbreviation}})</p>
    </div>

    <swiper-container [navigation]="true" [pagination]="{ clickable: true }" slides-per-view="1" space-between="10">
        <ng-container *ngFor="let question of pollData.questions; let qIndex = index">
            <swiper-slide>
                <div class="question-container p-4 border rounded-lg shadow-lg bg-white mb-8">
                    <h3 class="text-xl font-bold mb-4">Question {{ qIndex + 1 }}: {{ question.question }}</h3>
                    <div class="chart-container mb-4">
                        <canvas baseChart [data]="questionChartData[question.question]" [options]="chartOptions"
                            [type]="'pie'"></canvas>
                    </div>
                    <div class="votes-info text-lg">
                        <p>Total Votes: {{ question.totalVotes }}</p>
                        <p>Correct Votes: {{ question.correctVotes }}</p>
                        <p>Correct Answer: {{ question.options[question.correctAnswerIndex] }}</p>
                    </div>
                </div>
            </swiper-slide>
        </ng-container>
    </swiper-container>
</div>

<div *ngIf="!pollData && !loading" class="container mx-auto p-4 max-w-screen-lg">
    <h2 class="text-2xl font-bold mb-4">No poll data available.</h2>
</div>