<app-live-prices></app-live-prices>

<div class="container max-w-4xl mx-auto mt-8 p-6 text-center">
    <h2 class="text-3xl font-semibold mb-6 ">Choose a Cryptocurrency you want to post on</h2>

    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="px-8 py-6 bg-indigo-600 text-white">
            <h3 class="text-lg font-medium leading-6">Cryptocurrencies</h3>
        </div>
        <div class="border-t border-gray-200 px-6">
            <ul class="divide-y divide-gray-200">
                <li *ngFor="let cryptocurrency of cryptocurrencies" class="py-4 flex items-center justify-between">
                    <div class="text-lg font-medium text-gray-900">{{ cryptocurrency.name }}</div>
                    <div class="flex space-x-4">
                        <button (click)="onSelectPosts(cryptocurrency)"
                            class="flex items-center justify-center w-40 h-10 rounded-md border border-gray-300 bg-white shadow-sm text-indigo-600 hover:bg-indigo-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Select Posts <i class="bi bi-list-ul ml-2"></i>
                        </button>
                        <button (click)="onSelectPolls(cryptocurrency)"
                            class="flex items-center justify-center w-40 h-10 rounded-md border border-gray-300 bg-white shadow-sm text-indigo-600 hover:bg-indigo-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Select Polls <i class="bi bi-bar-chart-line ml-2"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>