<div *ngFor="let poll of polls" class="poll-container">
    <h3>{{ poll.question }}</h3>
    <div class="text-gray-600 text-sm">Created at: {{ poll.createdAt | date:'short' }}</div>
    <div *ngFor="let option of poll.options; let i = index">
        <label>
            <input type="radio" name="option{{ poll._id }}" [value]="i" [(ngModel)]="selectedOptions[poll._id]" />
            {{ option }}
        </label>
    </div>
    <button (click)="submitVote(poll._id, selectedOptions[poll._id])">Submit Vote</button>

    <div class="poll-results" *ngIf="poll.totalVotes > 0">
        <h4>Results:</h4>
        <p>Correct Votes: {{ poll.correctVotes }}</p>
        <p>Total Votes: {{ poll.totalVotes }}</p>
        <p>Correct Answer: {{ poll.options[poll.correctAnswerIndex] }}</p>
        <p>
            Percentage of Correct Votes:
            {{ getPercentage(poll.correctVotes, poll.totalVotes) | number: '1.0-2' }}%
        </p>
    </div>
</div>