<nav class="bg-green-700 py-4">
        <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
                <a href="home" class="text-white text-2xl font-semibold mb-4 md:mb-0">CryptoSocialNetwork</a>
                <ul class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
                        <li *ngIf="isUserAuthenticated()" class="cursor-pointer">
                                <a (click)="goToUserProfile()" class="nav-link text-white hover:text-gray-300 mr-10">
                                        Hi, {{ username }}</a>
                        </li>
                        <li *ngIf="isUserAuthenticated()" [routerLinkActive]="['active']">
                                <a routerLink="/home" class="nav-link text-white hover:text-gray-300">Home <i
                                                class="bi bi-house-door-fill"></i></a>
                        </li>
                        <li *ngIf="!isUserAuthenticated()" [routerLinkActive]="['active']">
                                <a routerLink="/login" class="nav-link text-white hover:text-gray-300">Login <i
                                                class="bi bi-box-arrow-in-right"></i></a>
                        </li>
                        <li *ngIf="isUserAuthenticated()" [routerLinkActive]="['active']">
                                <a routerLink="/cryptocurrency-list"
                                        class="nav-link text-white hover:text-gray-300">Cryptocurrency list <i
                                                class="bi bi-currency-dollar"></i></a>
                        </li>
                        <li *ngIf="!isUserAuthenticated()" [routerLinkActive]="['active']">
                                <a routerLink="/register" class="nav-link text-white hover:text-gray-300">Register <i
                                                class="bi bi-person-plus-fill"></i></a>
                        </li>
                        <li *ngIf="!isUserAuthenticated()" [routerLinkActive]="['active']">
                                <a routerLink="/welcome" class="nav-link text-white hover:text-gray-300">Welcome <i
                                                class="bi bi-emoji-smile"></i></a>
                        </li>
                        <li *ngIf="isUserAuthenticated() && isAdmin" [routerLinkActive]="['active']">
                                <a routerLink="/admin-dashboard" class="nav-link text-white hover:text-gray-300">Admin
                                        <i class="bi bi-people-fill"></i></a>
                        </li>
                        <li *ngIf="isUserAuthenticated()" [routerLinkActive]="['active']">
                                <a routerLink="/login" (click)="logout()"
                                        class="nav-link text-white hover:text-gray-300">Logout <i
                                                class="bi bi-box-arrow-right"></i></a>
                        </li>
                </ul>
        </div>
</nav>