<nav class="bg-green-700 py-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <a href="#" class="text-white text-2xl font-semibold mb-4 md:mb-0">CryptoSocialNetwork</a>
        <ul class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            <li *ngIf="isLoggedIn" class="cursor-pointer">
                <a (click)="goToUserProfile()" class="text-white hover:text-gray-300 mr-10">Hi, {{ username }}</a>
            </li>
            <li *ngIf="isLoggedIn"><a href="home" class="text-white hover:text-gray-300">Home</a></li>
            <li *ngIf="!isLoggedIn"><a href="login" class="text-white hover:text-gray-300">Login</a></li>
            <li *ngIf="!isLoggedIn"><a href="register" class="text-white hover:text-gray-300">Register</a></li>
            <li *ngIf="isLoggedIn"><a href="admin-dashboard" class="text-white hover:text-gray-300">Admin</a></li>
            <li *ngIf="isLoggedIn"><a href="login" (click)="logout()" class="text-white hover:text-gray-300">Logout</a>
            </li>
        </ul>
    </div>
</nav>