<nav class="bg-green-700 py-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <a href="#" class="text-white text-2xl font-semibold mb-4 md:mb-0">CryptoSocialNetwork</a>
        <ul class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
            <li><a href="home" class="text-white hover:text-gray-300">Home</a></li>
            <li><a href="login" class="text-white hover:text-gray-300">Login</a></li>
            <li><a href="register" class="text-white hover:text-gray-300">Register</a></li>
            <li><a href="admin-dashboard" class="text-white hover:text-gray-300">Admin</a></li>
        </ul>
    </div>
</nav>