<mat-progress-bar *ngIf="(loaderService.isLoading$ | async)" mode="indeterminate"></mat-progress-bar>

<div class="container mx-auto p-4 max-w-screen-lg">
    <div class="search-container mb-4 text-center">
        <h2 class="text-2xl font-bold mb-2">Search any cryptocurrency by their abbreviation</h2>
        <div class="flex items-center justify-center">
            <input [(ngModel)]="searchQuery" type="text" placeholder="Enter currency abbreviation (e.g., BTC)"
                class="search-input p-2 border rounded">
            <button (click)="searchCurrency()" class="search-button bg-blue-500 text-white p-2 rounded ml-2">Search
                Currency</button>
        </div>
    </div>

    <div *ngIf="favoriteCryptosData && favoriteCryptosData.length > 0">
        <div class="chart-row">
            <div class="chart-container">
                <h3 class="text-xl font-bold mb-4">Price Chart</h3>
                <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'"></canvas>
            </div>

            <div class="chart-container">
                <h3 class="text-xl font-bold mb-4">Market Cap Chart</h3>
                <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"></canvas>
            </div>

            <div class="chart-container">
                <h3 class="text-xl font-bold mb-4">Volume Chart</h3>
                <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" [type]="'pie'"></canvas>
            </div>
        </div>

        <div class="historical-chart-row flex flex-wrap">
            <div *ngFor="let cryptoData of favoriteCryptosData" class="chart-container p-2">
                <h3 class="text-xl font-bold mb-4">{{cryptoData.name}} Historical Price Chart</h3>
                <canvas baseChart [data]="historyChartData[cryptoData.name]" [options]="historyChartOptions"
                    [type]="'line'"></canvas>
            </div>
        </div>
    </div>

    <div *ngIf="!favoriteCryptosData || favoriteCryptosData.length === 0">
        <h2 class="text-2xl font-bold mb-4">Add some favorite cryptocurrencies to get more data...</h2>
    </div>
</div>