<mat-progress-bar *ngIf="(loaderService.isLoading$ | async)" mode="indeterminate"></mat-progress-bar>

<div class="container mx-auto p-4 max-w-screen-lg mb-7">
    <div class="search-container mb-4 text-center" [@fadeInOut]>
        <h2 class="text-lg font-bold mb-2">Search any cryptocurrency by their abbreviation</h2>
        <div class="flex items-center justify-center">
            <input [(ngModel)]="searchQuery" type="text" placeholder="Enter currency abbreviation (e.g., BTC)"
                class="search-input p-2 border rounded">
            <button (click)="searchCurrency()" class="search-button bg-blue-500 text-white p-2 rounded ml-2">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <div class="flex justify-center mb-4" [@fadeInOut]>
        <button (click)="toggleFilterExpansion()" class="bg-blue-500 text-white p-2 rounded mr-2">
            {{ showFilters ? 'Collapse Filters' : 'Expand Filters' }}
            <i class="bi bi-funnel"></i>
        </button>
        <button (click)="toggleChartsView()" class="bg-blue-500 text-white p-2 rounded">
            {{ showCharts ? 'Hide Live Charts' : 'View Live Charts' }}
            <i class="bi bi-bar-chart-line"></i>
        </button>
    </div>

    <div *ngIf="showFilters" class="filter-container mb-4 text-center" [@fadeInOut]>
        <h2 class="text-lg font-bold mb-4">Filter Cryptocurrencies</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <div class="border rounded-lg p-4">
                <h3 class="text-sm font-bold mb-2">Market Cap Range (USD)</h3>
                <div class="flex justify-between items-center">
                    <input [(ngModel)]="minMarketCap" type="number" placeholder="Min"
                        class="filter-input p-2 border rounded">
                    <span>-</span>
                    <input [(ngModel)]="maxMarketCap" type="number" placeholder="Max"
                        class="filter-input p-2 border rounded">
                </div>
            </div>

            <div class="border rounded-lg p-4">
                <h3 class="text-sm font-bold mb-2">Price Range (USD)</h3>
                <div class="flex justify-between items-center">
                    <input [(ngModel)]="minPrice" type="number" placeholder="Min"
                        class="filter-input p-2 border rounded">
                    <span>-</span>
                    <input [(ngModel)]="maxPrice" type="number" placeholder="Max"
                        class="filter-input p-2 border rounded">
                </div>
            </div>

            <div class="border rounded-lg p-4">
                <h3 class="text-sm font-bold mb-2">Volume Range (USD)</h3>
                <div class="flex justify-between items-center">
                    <input [(ngModel)]="minVolume" type="number" placeholder="Min"
                        class="filter-input p-2 border rounded">
                    <span>-</span>
                    <input [(ngModel)]="maxVolume" type="number" placeholder="Max"
                        class="filter-input p-2 border rounded">
                </div>
            </div>
        </div>

        <button (click)="filterCurrencies()"
            class="filter-button bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 mt-4">
            Filter Currency
            <i class="bi bi-funnel"></i>
        </button>
    </div>

    <div *ngIf="showCharts && favoriteCryptosData && favoriteCryptosData.length > 0" [@fadeInOut]>
        <div class="chart-row grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div
                class="chart-container p-4 border rounded-lg shadow bg-white text-center flex items-center justify-center flex-col">
                <h3 class="text-lg font-bold mb-4">Price Chart</h3>
                <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'"></canvas>
            </div>

            <div
                class="chart-container p-4 border rounded-lg shadow bg-white text-center flex items-center justify-center flex-col">
                <h3 class="text-lg font-bold mb-4">Market Cap Chart</h3>
                <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"></canvas>
            </div>

            <div
                class="chart-container p-4 border rounded-lg shadow bg-white text-center flex items-center justify-center flex-col">
                <h3 class="text-lg font-bold mb-4">Volume Chart</h3>
                <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" [type]="'pie'"></canvas>
            </div>
        </div>

        <div class="historical-chart-row mt-8 max-w-6xl mx-auto">
            <h3 class="text-2xl font-semibold text-gray-800 mb-4">Price Charts</h3>
            <swiper-container slides-per-view="3" space-between="30" pagination="true">
                <ng-container *ngFor="let cryptoData of favoriteCryptosData">
                    <swiper-slide>
                        <div class="p-4 border rounded-lg shadow-lg bg-white text-center mb-2">
                            <h3 class="text-lg font-bold mb-4">{{cryptoData.name}} Historical Price Chart</h3>
                            <canvas baseChart [data]="historyChartData[cryptoData.name]" [options]="historyChartOptions"
                                [type]="'line'"></canvas>
                        </div>
                    </swiper-slide>
                </ng-container>
            </swiper-container>
        </div>
    </div>

    <div *ngIf="!favoriteCryptosData || favoriteCryptosData.length === 0" [@fadeInOut]>
        <h2 class="text-2xl font-bold mb-4">Add some favorite cryptocurrencies to get more data...</h2>
    </div>
</div>