.all-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}