<div class="container mx-auto p-4 border-b-2 border-gray-200 max-w-screen-lg">
    <h2 class="text-2xl font-bold">Create a new post</h2>
    <textarea [(ngModel)]="newPostContent" class="w-full p-2 border rounded"></textarea>
    <button (click)="createPost()" class="mt-2 px-4 py-2 bg-blue-500 text-white rounded">Publish Post</button>
    <button (click)="newPostContent = ''" class="mt-2 ml-2 px-4 py-2 bg-gray-300 text-black rounded">Cancel</button>
</div>
<div class="container mx-auto p-4 border-b-2 border-gray-200 max-w-screen-lg">
    <h2 class="text-2xl font-bold">Posts</h2>
    <div class="mb-4">
        <label for="sort-by">Sort by:</label>
        <select id="sort-by" [(ngModel)]="sortBy" (change)="changeSort(sortBy)" class="ml-2 border rounded">
            <option value="date">By date</option>
            <option value="hot">Hot</option>
        </select>
    </div>
</div>
<div class="divide-y max-w-screen-lg mx-auto">
    <div *ngFor="let post of posts | paginate: { itemsPerPage: 5, currentPage: p }"
        class="p-4 border rounded mb-4 bg-white shadow">
        <div class="flex items-center mb-2">
            <span class="font-bold text-xl">{{ post.user.username }}</span>
        </div>
        <p class="text-gray-800 break-words">{{ post.content }}</p>
        <p class="text-gray-600 text-sm">Created at: {{ post.createdAt | date:'short' }}</p>
        <div class="mt-2 flex items-center">
            <button (click)="upvotePost(post._id)" class="flex items-center text-gray-500 mr-4">
                <i class="bi bi-arrow-up mr-1"></i>
                <span>{{ post.upvotes }}</span>
            </button>
            <button (click)="downvotePost(post._id)" class="flex items-center text-gray-500">
                <i class="bi bi-arrow-down mr-1"></i>
                <span>{{ post.downvotes }}</span>
            </button>
            <button *ngIf="post.user._id === userService.getUserIdFromToken()" (click)="editPost(post._id)"
                class="btn btn-primary ml-2">
                <i class="bi bi-pencil"></i>
            </button>
            <button *ngIf="authService.isAdmin() || post.user._id === userService.getUserIdFromToken()"
                (click)="deletePost(post._id)" class="btn btn-danger ml-2">
                <i class="bi bi-trash"></i>
            </button>
        </div>
        <app-comment-list [postId]="post._id"></app-comment-list>
    </div>
    <div *ngIf="posts.length === 0" class="p-4 text-center">
        <p class="text-gray-600">No posts available.</p>
    </div>
</div>
<div class="pagination-container mt-4 max-w-screen-lg mx-auto">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>