<div
    class="container mx-auto p-4 border-b-2 border-gray-200 mt-4 lg:w-[1024px] rounded-lg shadow-md overflow-hidden bg-green-50 transition-all duration-500 hover:shadow-lg">
    <div *ngIf="!showNewPostForm" class="container mx-auto p-4 border-b-2 border-gray-200 max-w-screen-lg">
        <button (click)="toggleNewPostForm()"
            class="px-4 py-2 bg-blue-500 text-white rounded-lg shadow hover:bg-blue-600 transition duration-300 transform hover:scale-105">
            Create a Post <i class="bi bi-pencil-square"></i>
        </button>
    </div>

    <div *ngIf="showNewPostForm" @fadeInOut
        class="container mx-auto p-4 border-b-2 border-gray-200 max-w-screen-lg transition-all duration-500 hover:shadow-xl">
        <h2 class="text-2xl font-bold mb-4">Create a new post</h2>
        <textarea [(ngModel)]="newPostContent"
            class="w-full p-4 border rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-300"
            rows="4" placeholder="What's on your mind?"></textarea>
        <div class="flex justify-end mt-2">
            <button (click)="createPost()"
                class="px-4 py-2 bg-blue-500 text-white rounded-lg shadow hover:bg-blue-600 transition duration-300 transform hover:scale-105">
                Publish Post <i class="bi bi-arrow-right"></i>
            </button>
            <button (click)="cancelNewPost()"
                class="ml-2 px-4 py-2 bg-gray-300 text-black rounded-lg shadow hover:bg-gray-400 transition duration-300 transform hover:scale-105">
                Cancel <i class="bi bi-x"></i>
            </button>
        </div>
    </div>

    <div
        class="container mx-auto p-4 border-b-2 border-gray-200 max-w-screen-lg transition-all duration-500 hover:shadow-lg">
        <h2 class="text-2xl font-bold mb-4">Posts</h2>
        <div class="mb-4 flex items-center">
            <label for="sort-by" class="mr-2 font-semibold">Sort by:</label>
            <p-dropdown [options]="[
                    { label: 'By date', value: 'date' },
                    { label: 'Hot', value: 'hot' }
                ]" [(ngModel)]="sortBy" (onChange)="changeSort($event.value)" placeholder="Select sorting"
                class="ml-2"></p-dropdown>
        </div>
    </div>

    <div *ngFor="let post of posts | slice: (p - 1) * itemsPerPage : p * itemsPerPage"
        class="p-6 border rounded-3xl mb-8 bg-white shadow-lg m-4 relative transition-all duration-500 hover:shadow-2xl">
        <div class="flex items-center mb-2 justify-between">
            <span class="font-bold text-xl">{{ post.user ? post.user.username : 'Deleted User' }}</span>
            <div class="relative" *ngIf="canEditPost(post) || canDeletePost(post)">
                <i class="bi bi-three-dots cursor-pointer" (click)="toggleOptions(post._id)"></i>
                <div *ngIf="post.showOptions"
                    class="absolute right-0 mt-2 w-48 bg-white border rounded-lg shadow-lg z-10">
                    <button *ngIf="canEditPost(post)" (click)="editPost(post._id)"
                        class="flex items-center px-4 py-2 hover:bg-gray-100 w-full justify-between transition duration-300 transform hover:scale-105">
                        Edit Post <i class="bi bi-pencil"></i>
                    </button>
                    <button *ngIf="canDeletePost(post)" (click)="deletePost(post._id)"
                        class="flex items-center px-4 py-2 hover:bg-gray-100 w-full justify-between transition duration-300 transform hover:scale-105">
                        Delete Post <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        <p class="text-gray-800 break-words mb-2">{{ post.content }}</p>
        <p class="text-gray-600 text-sm mb-2">Created at: {{ post.createdAt | date:'short' }}</p>
        <p class="text-gray-600 text-sm mb-2" *ngIf="post.createdAt !== post.updatedAt">Last updated at: {{
            post.updatedAt | date:'short' }}</p>
        <div class="mt-2 flex items-center">
            <button (click)="upvotePost(post._id)"
                [ngClass]="{'text-blue-500': post.upvotedBy?.includes(userService.getUserIdFromToken() || ''), 'text-gray-500': !(post.upvotedBy?.includes(userService.getUserIdFromToken() || ''))}"
                class="flex items-center mr-4 hover:text-blue-500 transition-all duration-300">
                <i class="bi bi-arrow-up mr-1"></i>
                <span>{{ post.upvotes }}</span>
            </button>
            <button (click)="downvotePost(post._id)"
                [ngClass]="{'text-red-500': post.downvotedBy?.includes(userService.getUserIdFromToken() || ''), 'text-gray-500': !(post.downvotedBy?.includes(userService.getUserIdFromToken() || ''))}"
                class="flex items-center hover:text-red-500 transition-all duration-300">
                <i class="bi bi-arrow-down mr-1"></i>
                <span>{{ post.downvotes }}</span>
            </button>
        </div>
        <app-comment-list [postId]="post._id"></app-comment-list>
    </div>
</div>

<div class="pagination-container mt-4 max-w-screen-lg mx-auto">
    <p-paginator [rows]="itemsPerPage" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 20]"
        (onPageChange)="onPageChange($event)">
    </p-paginator>
</div>