<div class="container mx-auto py-6 px-4" [@fadeInOut]>
    <h2 class="text-3xl font-semibold mb-6">Admin Dashboard</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
        <div class="p-6 bg-white rounded-lg shadow-md">
            <p class="text-lg font-medium mb-4">Do you want to create a poll?</p>
            <a href="/admin-dashboard/create-poll" class="text-indigo-600 hover:underline">Create poll Here! <i
                    class="bi bi-plus-circle-fill"></i></a>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-md">
            <p class="text-lg font-medium mb-4">Do you want to delete a poll?</p>
            <a href="/admin-dashboard/manage-polls" class="text-indigo-600 hover:underline">Manage polls here! <i
                    class="bi bi-trash"></i></a>
        </div>
        <div class="p-6 bg-white rounded-lg shadow-md">
            <p class="text-lg font-medium mb-4">Do you want to manage cryptocurrencies?</p>
            <a href="/admin-dashboard/add-cryptocurrency" class="text-indigo-600 hover:underline">Add Cryptocurrency
                Here! <i class="bi bi-graph-up"></i></a>
        </div>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md mb-8">
        <h3 class="text-2xl font-semibold mb-4">Add New User</h3>
        <form class="space-y-4" (ngSubmit)="addUser()" #userForm="ngForm">
            <div>
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input id="username" name="username" type="text" [(ngModel)]="newUser.username"
                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 h-10"
                    required>
            </div>
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                <input id="email" name="email" type="email" [(ngModel)]="newUser.email"
                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 h-10"
                    required>
            </div>
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                <input id="password" name="password" type="password" [(ngModel)]="newUser.password"
                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 h-10"
                    required>
            </div>
            <div>
                <label for="role" class="block text-sm font-medium text-gray-700">Role</label>
                <select id="role" name="role" [(ngModel)]="newUser.role"
                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 h-10"
                    required>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <button type="submit"
                class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                [disabled]="!userForm.form.valid">
                <i class="bi bi-person-plus"></i> Add User
            </button>
        </form>
    </div>

    <div class="bg-white rounded-lg shadow-md pb-6">
        <h3 class="text-2xl font-semibold mb-4 px-8 py-6 bg-indigo-600 text-white">Manage Users</h3>
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        <i class="bi bi-person"></i> Username
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        <i class="bi bi-envelope"></i> Email
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        <i class="bi bi-shield-lock"></i> Role
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        <i class="bi bi-gear"></i> Actions
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let user of users.slice((p - 1) * itemsPerPage, p * itemsPerPage)" [@fadeInOut]>
                    <td class="px-6 py-4 whitespace-nowrap">{{ user.username }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ user.email }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ user.role }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <button (click)="deleteUser(user._id)" class="text-red-600 hover:text-red-900 mr-2"
                            title="Delete">
                            <i class="bi bi-trash"></i>
                        </button>
                        <button (click)="editUser(user._id)" class="text-indigo-600 hover:text-indigo-900 mr-2"
                            title="Edit">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p-paginator [rows]="itemsPerPage" [totalRecords]="totalItems" [rowsPerPageOptions]="[5, 10, 20]"
            (onPageChange)="onPageChange($event)">
        </p-paginator>
    </div>
</div>